@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CircularStd';
  src: url('./assets/fonts/circular-std-medium-500.ttf') format('opentype');
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./assets/fonts/circular-std-medium-500.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./assets/fonts/circular-std-medium-500.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
